/*  Reiniciar el navegador para evitar diferencias de estilos */
*{ 
    box-sizing: border-box;
    margin:0;
    padding:0;    
}

/*estilos generales del cuerpo de la pagina*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: rgb(3, 183, 238); 
    color:rgb(0, 0, 0);
}

/* estilo para el encabezado con degrador*/
.site-header{
    background: linear-gradient(90deg, #9459c5,#000000);
    color: rgba(30, 150, 150);
    padding:1rem;
    text-align: center;
}

.subtitle{
    opacity: 100%;
}

.content{
    display: flex; /*coloca las tarjetas una al lado de la otra*/
    gap: 3rem ;/* separar las tarjetas */
    flex-wrap: wrap; /* permite que las tarjetas bajen si no caben*/
    justify-content: center;
    padding: 2rem;

}

.card{
    background: #9459c5;
    padding: 1.25rem;
    border-radius: 22px;
    box-shadow: o.6 px 18px rgba(77, 255, 6, 0.914);/*dar profundida*/
    width: 300px;
}
.card h2{
    margin-bottom: 0.5rem;
}

.card p{
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}


.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: rgb(246, 246, 151);
    border-radius: 8px;
    color: rgb(160, 73, 73);
    justify-content: center;
}

.card a{
    justify-content: center;
    display: flex;
    text-align: center;
}

.site-footer{
    text-align: center;
    padding: 1rem;
    color: rgb(0, 0, 0);
}